langchain==0.3.25
langchain-groq==0.3.2
langchain-community==0.3.24
langchain-core==0.3.59
ddgs
requests
beautifulsoup4
python-dotenv
streamlit
pandas
plotly
openpyxl
PyPDF2
openai
streamlit-authenticator==0.4.2
youtube-transcript-api==1.2.4
bcrypt
pyyaml
